name: Prod Deploy

on:
  push:
    branches:
      - main

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      client: ${{ steps.changes.outputs.client }}
      server: ${{ steps.changes.outputs.server }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Detect changed paths
        id: changes
        run: |
          if git diff -w --name-only origin/main~1..origin/main | grep '^client/'; then
            echo "client=true" >> $GITHUB_OUTPUT
          else
            echo "client=false" >> $GITHUB_OUTPUT
          fi

          if git diff -w --name-only origin/main~1..origin/main | grep '^server/'; then
            echo "server=true" >> $GITHUB_OUTPUT
          else
            echo "server=false" >> $GITHUB_OUTPUT
          fi

  deploy-client:
    needs: detect-changes
    if: needs.detect-changes.outputs.client == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24 #

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: client-npm-v2-${{ runner.os }}-${{ hashFiles('client/package-lock.json') }}
          restore-keys: |
            client-npm-v2-${{ runner.os }}-

      - name: Build Client
        working-directory: client
        run: |
          npm ci
          npm run build

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_S3_BUCKET_REGION }}

      - name: Deploy Frontend to S3
        run: |
          aws s3 sync client/dist/ s3://${{ secrets.S3_BUCKET }} --delete --only-show-errors

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DIST_ID }} \
            --paths "/*"

  deploy-server:
    needs: detect-changes
    if: needs.detect-changes.outputs.server == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: server-npm-v2-${{ runner.os }}-${{ hashFiles('server/package-lock.json') }}
          restore-keys: |
            server-npm-v2-${{ runner.os }}-

      - name: Install Server Dependencies
        working-directory: server
        run: npm ci

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PROD_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.PROD_SSH_HOST }} >> ~/.ssh/known_hosts || true

      - name: Check Prod EC2 availability
        run: |
          if ssh -o ConnectTimeout=5 ubuntu@${{ secrets.PROD_SSH_HOST }} "echo EC2 is running" >/dev/null 2>&1; then
            echo "EC2_AVAILABLE=true" >> $GITHUB_ENV
          else
            echo "EC2_AVAILABLE=false" >> $GITHUB_ENV
            echo "Prod EC2 is stopped. Deployment skipped."
          fi

      - name: Upload Server to EC2
        if: env.EC2_AVAILABLE == 'true'
        run: |
          rsync -avz --delete \
          --exclude '.env' \
          --exclude '.env.production' \
          --exclude 'node_modules' \
          server/ \
          ubuntu@${{ secrets.PROD_SSH_HOST }}:/home/ubuntu/urbannook-prod/server/

      - name: Restart Backend
        if: env.EC2_AVAILABLE == 'true'
        run: |
          ssh ubuntu@${{ secrets.PROD_SSH_HOST }} << 'EOF'
            cd /home/ubuntu/urbannook-prod/server
            # to make sure server has zero down time in case if json and lock-json got version mismatch
            npm ci --omit=dev || npm install --omit=dev 
            pm2 restart urbannook-server || pm2 start .ecosystem.config.cjs --env production
            pm2 save
          EOF

  nothing-to-deploy:
    needs: detect-changes
    if: needs.detect-changes.outputs.client == 'false' && needs.detect-changes.outputs.server == 'false'
    runs-on: ubuntu-latest
    steps:
      - name: Nothing to deploy
        run: echo "No client or server changes detected. Skipping deployment."
